{% extends "admin/core/base.html" %}

{% block title %}Notification Signup{% endblock %}

{% block body %}
<div class="box">
    <div class="title-area">
        <h2>Notification Signup</h2>
    </div>
    <div class="content">
        <p>By pressing the signup button below you are agreeing to be added to our notification list. We will send you emails when new papers or issues are published.</p>
        <p>Your details will be used solely for notifications from {{ request.journal.name }} and for no other purpose. </p>
        <form method="POST">
            {% csrf_token %}
            {% if api_error %}
                <p><strong>{{ api_error|safe }}</strong></p>
            {% else %}
                <button class="button">Sign Up</button>
            {% endif %}

        </form>
    </div>
</div>
{% endblock body %}